<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-sm-0 pt-3">
      <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
      <span>/</span>
      <span>Dashboard</span>
    </h4>

    <div>
      <h2>
        eVoucher shop2
      </h2>
    </div>

  </div>
  <div class="card-body d-sm-flex justify-content-between">
    <app-get-order-sale-widget></app-get-order-sale-widget>
  </div>
</div>
<!-- Heading -->



