  <h1>Sales Totals Widget</h1>
<form [formGroup]="Form" novalidate (ngSubmit)="onSubmit(Form)">
    <label for="salesValue">Value <input type="text" formControlName="salesValue" id="salesValue"></label><br>
    <label for="salesWidget">Period <select formControlName="salesWidget" id="salesWidget">
      <option *ngFor="let item of items" [value]="item.value">{{ item.text }}</option>
    </select></label><br>
    <button type="submit">Get sales</button>
    <p *ngIf="total!==null">Total count: {{ total }}</p>
    <p *ngIf="extra!==null">Extra count: {{ extra }}</p>
  </form>
